@model PublisherProfileViewModel

@{
    ViewData["Title"] = $"{Model.PublisherInfo.Username} Profile";
}

<h1>@ViewData["Title"]</h1>

@foreach (var game in Model.GamesList)
{
    <h2>@game.Title</h2>
}